# Ignorar el archivo de configuración de WordPress
wp-config.php

# Ignorar carpetas sensibles
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# Archivos temporales y de sistema
*.log
*.bak
*.swp
.DS_Store
*.ini
*.conf

# Archivos de configuración del servidor
.htaccess
.git/
